<html ng-app="logger-ui">
<head>
<meta charset="utf-8" ng-app="logger-ui"/>
<title>JDBC Log Viewer</title>

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="css/hotkeys.min.css"/>
<link type="text/css" rel="stylesheet" href="css/jdbclog.css"/>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/hotkeys.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script>
</script>
<head>
<body ng-controller="appCtrl" ng-init="init()">

<uib-tabset>
	<uib-tab select="selectTab('history')" active="activeTab['history']">
		<uib-tab-heading>
			<b><i class="glyphicon glyphicon-ok"></i> History(<u>Q</u>)</b>
		</uib-tab-heading>
		<br>
		<div class="form-inline pull-right">
			<label>AutoReload(<u>T</u>) :
				<input type="checkbox" ng-model="historyAutoLoading" ng-click="toggleAutoReload()">
			</label>
			<button class="btn btn-primary" ng-click="loadHistory()">
				<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="isLoading"></i>
				<i class="glyphicon glyphicon-refresh" ng-show="!isLoading"></i> <u>R</u>eload
			</button>
			<span class="alert alert-info display:inline-box">Last Update {{ historyLastUpdate | date:'HH:mm:ss' }}</span>
		</div>

		<uib-tabset type="pills">
			<uib-tab ng-repeat="(dsName, list) in historyMap" select="selectDsTab(dsName)" active="historyDsTab[dsName]">
				<uib-tab-heading>
					{{ dsName }}(<u>{{ $index + 1 }}</u>)
				</uib-tab-heading>
				<table class="table table-condensed table-striped table-bordered">
					<thead class="bg-primary">
						<tr>
							<th class="text-center col-md-1">No.</th>
							<th class="text-center col-md-2">start time</th>
							<th class="text-center col-md-1">exec time</th>
							<th class="text-center col-md-8">SQL</th>
							<th class="text-center col-md-1" ng-if="dsName == allQueriesTab">dataSource</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(idx, elem) in list" ng-class="{ 'bg-danger': elem.error }">
							<td align="right">{{ idx + 1 }}</td>
							<td>{{ elem.time | date:'yyyy/MM/dd HH:mm:ss.sss'}}</td>
							<td align="right">{{ elem.elapsed | number }} ms</td>
							<td><span class="word-wrap" uib-tooltip="{{ elem.errorMsg }}" tooltip-popup-delay="500">{{ elem.sql }}</span></td>
							<td ng-if="dsName == allQueriesTab ">{{ elem.dataSource }}</td>
						</tr>
					</tbody>
				</table>
			</uib-tab>
		 </uib-tabset>
	</uib-tab>

	<uib-tab select="selectTab('running')" active="activeTab['running']">
		<uib-tab-heading>
			<b><i class="glyphicon glyphicon-play"></i> Running Queries(<u>W</u>)</b>
		</uib-tab-heading>
		<br>
		<div class="form-inline pull-right">
			<label>AutoReload(<u>T</u>) :
				<input type="checkbox" ng-model="runningAutoLoading" ng-click="toggleAutoReload()">
			</label>
			<button class="btn btn-primary" ng-click="loadRunning()">
				<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="isLoading"></i>
				<i class="glyphicon glyphicon-refresh" ng-show="!isLoading"></i> <u>R</u>eload
			</button>
			<span class="alert alert-info">Last Update {{ runningLastUpdate | date:'HH:mm:ss' }}</span>
		</div>

		<uib-tabset type="pills">
			<uib-tab ng-repeat="(dsName, list) in runningMap" select="selectDsTab(dsName)" active="runningDsTab[dsName]">
				<uib-tab-heading>
					{{ dsName }}(<u>{{ $index + 1 }}</u>)
				</uib-tab-heading>
				<table class="table table-condensed _table-striped table-bordered">
					<thead class="bg-primary">
						<tr>
							<th class="text-center col-md-1">No.</th>
							<th class="text-center col-md-2">start time</th>
							<th class="text-center col-md-1">elapsed</th>
							<th class="text-center col-md-8">SQL</th>
							<th class="text-center col-md-1" ng-if="dsName == allQueriesTab">dataSource</th>
						</tr>
					<tbody>
					</thead>
						<tr ng-repeat="(idx, elem) in list" ng-class="{ 'bg-danger': elem.error }">
							<td class="text-center">{{ idx + 1 }}</td>
							<td>{{ elem.time | date:'yyyy/MM/dd HH:mm:ss.sss'}}</td>
							<td class="text-center">{{ elem.elapsed | number }} ms</td>
							<td><span class="word-wrap">{{ elem.sql }}</span></td>
							<td ng-if="dsName == allQueriesTab ">{{ elem.dataSource }}</td>
						</tr>
					</tbody>
				</table>
			</uib-tab>
		 </uib-tabset>
	</uib-tab>

	<uib-tab select="selectTab('setting')"  active="activeTab['setting']">
		<uib-tab-heading>
			<b><i class="glyphicon glyphicon-wrench"></i> Settings(<u>E</u>)</b>
		</uib-tab-heading>

		<br>

		<div class="row">
			<div class="input-group">
				<input type="text" class="form-control col-md-12" ng-model="servers" placeholder="server1:80, server2:80">
				<span class="input-group-btn">
					<button type-"button" class="btn btn-primary" ng-click="saveServers(servers)">save servers</button>
				</span>
			</div>
		</div>

		<br>

		<div class="form-inline pull-right">
			<button class="btn btn-primary" ng-click="loadSetting()">
				<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="isLoading"></i>
				<i class="glyphicon glyphicon-refresh" ng-show="!isLoading"></i> <u>R</u>eload
			</button>
			<button class="btn btn-default" ng-click="saveSetting()">
				<i class="glyphicon glyphicon-ok"></i> Save Setting
			</button>
		</div>

		<uib-tabset>
		<uib-tabset type="pills">
			<uib-tab ng-repeat="(dsName, list) in settings" select="selectDsTab(dsName)" active="settingDsTab[dsName]">
				<uib-tab-heading>
					{{ dsName }}(<u>{{ $index + 1 }}</u>)
				</uib-tab-heading>
  					<table class="table table-condensed table-bordered">
					<thead class="bg-primary">
						<tr>
							<th class="text-center col-md-2">Item</th>
							<th class="text-center col-md-10">value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, value) in list">
							<th class="text-right bg-info">{{ key }}</th>
							<td><input type="text" class="form-control input-sm" ng-model="list[key]"></td>
						</tr>
					</tbody>
				</table>
			</uib-tab>
		 </uib-tabset>
	</uib-tab>
</uib-tabset>
</body>
</html>
