<html ng-app="logger-ui">
<head>
<meta charset="utf-8" ng-app="logger-ui"/>
<title>JDBC Log Viewer</title>

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="css/hotkeys.min.css"/>
<link type="text/css" rel="stylesheet" href="css/jdbclog.css"/>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/hotkeys.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script>
var app = angular.module("logger-ui", ["ui.bootstrap", "cfp.hotkeys"]);

app.config(function(hotkeysProvider) {
    hotkeysProvider.includeCheatSheet = true;
});

app.controller("appCtrl", function($scope, $http, $q, $interval, hotkeys) {

	$scope.activeTab = { history: true, running: false, setting: false };
	$scope.historyDsTab = {};
	$scope.runningDsTab = {};
	$scope.allQueriesTab = "[ALL]";

	$scope.historyMap = {};
	$scope.runningMap = {};
	$scope.settings = {};
	$scope.servers = "";
	$scope.isLoading = false;

	$scope.historyLastUpdate;
	$scope.runningLastUpdate;
	$scope.historyAutoLoading = false;
	$scope.runningAutoLoading = false;
	$scope.historyTimerPromise = null;
	$scope.runningTimerPromise = null;

	// デフォルトのホットキー設定
	hotkeys.add({
		combo: 'h',
		description: 'Select Query History Tab.',
		callback: function() { $scope.selectTab("history"); }
	});
	hotkeys.add({
		combo: 'q',
		description: 'Select Running Queries Tab.',
		callback: function() { $scope.selectTab("running"); }
	});
	hotkeys.add({
		combo: 's',
		description: 'Select Settings Tab.',
		callback: function() { $scope.selectTab("setting"); }
	});
	hotkeys.add({
		combo: 'r',
		description: 'Reload.',
		callback: function() {
			if ($scope.activeTab.history) $scope.loadHistory();
			if ($scope.activeTab.running) $scope.loadRunning();
		}
	});
	hotkeys.add({
		combo: 't',
		description: 'toggle Auto Reload.',
		callback: function() { $scope.toggleAutoReload(); }
	});

	/**
	 **********************************
	 * 初期化処理
	 **********************************
	 */
	$scope.init = function() {
		// for Test
		var promiseList = [];
		for (var i = 0; i < 2; i++) {
			promiseList.push($http.get("../test"));
		}

		// load servers
		$scope.servers = localStorage.getItem("servers");

		// 全部終わったらロード
		Promise.all(promiseList).then(function() {
			$scope.loadHistory().then(function() {
				// datasource毎のhotkey設定
				var idx = 1;
				angular.forEach($scope.historyMap, function(elem, name) {
					$scope.historyDsTab[name] = (idx == 1);
					hotkeys.add({
						combo: "" + idx,
						description: "Select " + name + " Tab.",
						callback: function() { $scope.selectDsTab(name); }
					});
					idx++;
				});
			});
			$scope.loadRunning().then(function() {
				// hotkeyの設定
				var idx = 1;
				angular.forEach($scope.runningMap, function(elem, name) {
					$scope.runningDsTab[name] = (idx == 1);
					hotkeys.add({
						combo: "" + idx,
						description: "Select " + name + " Tab.",
						callback: function() { $scope.selectDsTab(name); }
					});
					idx++;
				});
			});
			$scope.loadSetting();
		});
	}

	/**
	 **********************************
	 **********************************
	 */
	$scope.selectTab = function(tab) {
		angular.forEach($scope.activeTab, function(val, key) {
			$scope.activeTab[key] = (key == tab);
		});
	}

	/**
	 **********************************
	 **********************************
	 */
	$scope.selectDsTab = function(tab) {
		var tabList;
		if ($scope.activeTab['history']) {
			tabList = $scope.historyDsTab;
		} else if ($scope.activeTab['running']) {
			tabList = $scope.runningDsTab;
		} else {
			return;
		}

		angular.forEach(tabList, function(val, key) {
			tabList[key] = (key == tab);
		});
	}

	/**
	 **********************************
	 **********************************
	 */
	$scope.toggleAutoReload = function() {
		if ($scope.activeTab['history']) {
			$scope.historyAutoLoading = !$scope.historyAutoLoading;
			if ($scope.historyAutoLoading) {
				$scope.historyTimerPromise = $interval(function() { $scope.loadHistory() }, 10000);
				$scope.loadHistory();
			} else {
				$interval.cancel($scope.historyTimerPromise);
			}
		} else if ($scope.activeTab['running']) {
			$scope.runningAutoLoading = !$scope.runningAutoLoading;
			if ($scope.runningAutoLoading) {
				$scope.runningTimerPromise = $interval(function() { $scope.loadRunning() }, 10000);
				$scope.loadRunning();
			} else {
				$interval.cancel($scope.runningTimerPromise);
			}
		}
	}

	/**
	 **********************************
	 * 実行済SQLのロード
	 **********************************
	 */
	$scope.loadHistory = function() {
		var defer = $q.defer();
		sendRequest("../history", $scope.servers).then(function(res) {
			res[$scope.allQueriesTab] = Object.keys(res)
						.reduce(function(prev, cur) { return prev.concat(res[cur]) }, [])
						.sort(function(a, b) { return b.time - a.time });
			$scope.historyMap = res;
			return defer.resolve();
		}).finally(function() {
			$scope.historyLastUpdate = new Date();
		});
		return defer.promise;
	}

	/**
	 **********************************
	 * 実行中SQLのロード
	 **********************************
	 */
	$scope.loadRunning = function() {
		var defer = $q.defer();
		sendRequest("../running", $scope.servers).then(function(res) {
			// 全DSの結果をマージしてソートする
			res[$scope.allQueriesTab] = Object.keys(res)
				.reduce(function(prev, cur) { return prev.concat(res[cur]) }, [])
				.sort(function(a, b) { return b.time - a.time });
			$scope.runningMap = res;
			return defer.resolve();
		}).finally(function() {
			$scope.runningLastUpdate = new Date();
		});
		return defer.promise;
	}

	/**
	 **********************************
	 * 設定情報のロード
	 **********************************
	 */
	$scope.loadSetting = function() {
		var defer = $q.defer();
		sendRequest("../setting").then(function(res) {
			$scope.settings = res;
			return defer.resolve();
		});
		return defer.promise;
	}

	/**
	 **********************************
	 * 設定情報のセーブ
	 **********************************
	 */
	$scope.saveSetting = function() {
		console.log("call save setting.");
	}

	/**
	 **********************************
	 **********************************
	 */
	function sendRequest(url, servers) {
		$scope.isLoading = true;
		return $http({
			method: "GET",
			url: url,
			params: {
				servers: servers,
			},
			cache: false
		}).then(function(res) {
			return res.data;
		}).finally(function() {
			$scope.isLoading = false;
		});
	}
});
</script>
<head>
<body ng-controller="appCtrl" ng-init="init()">

<uib-tabset>
	<uib-tab select="selectTab('history')" active="activeTab['history']">
		<uib-tab-heading>
			<b><i class="glyphicon glyphicon-ok"></i> <u>H</u>istory</b>
		</uib-tab-heading>

		<br>

		<div class="form-inline pull-right">

			<label>AutoReload(<u>T</u>) :
				<input type="checkbox" ng-model="historyAutoLoading" ng-click="toggleAutoReload()">
			</label>

			&nbsp;

			<button class="btn btn-primary" ng-click="loadHistory()">
				<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="isLoading"></i>
				<i class="glyphicon glyphicon-refresh" ng-show="!isLoading"></i> <u>R</u>eload
			</button>

			<span class="alert alert-info display:inline-box">Last Update {{ historyLastUpdate | date:'HH:mm:ss' }}</span>


		</div>

		<uib-tabset type="pills">
			<uib-tab ng-repeat="(dsName, list) in historyMap" select="selectDsTab(dsName)" active="historyDsTab[dsName]">
				<uib-tab-heading>
					{{ dsName }}(<u>{{ $index + 1 }}</u>)
				</uib-tab-heading>

<br>
				<table class="table table-condensed table-bordered">
					<thead class="bg-primary">
						<tr>
							<th class="text-center col-md-1">No.</th>
							<th class="text-center col-md-2">start time</th>
							<th class="text-center col-md-1">exec time</th>
							<th class="text-center col-md-8">SQL</th>
							<th class="text-center col-md-1" ng-if="dsName == allQueriesTab">dataSource</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(idx, elem) in list" ng-class="{ 'bg-danger': elem.error }">
							<td align="right">{{ idx + 1 }}</td>
							<td>{{ elem.time | date:'yyyy/MM/dd HH:mm:ss.sss'}}</td>
							<td align="right">{{ elem.elapsed | number }} ms</td>
							<td><span uib-tooltip="{{ elem.errorMsg }}" tooltip-popup-delay="500">{{ elem.sql }}</span></td>
							<td ng-if="dsName == allQueriesTab ">{{ elem.dataSource }}</td>
						</tr>
					</tbody>
				</table>
			</uib-tab>
		 </uib-tabset>
	</uib-tab>

	<uib-tab select="selectTab('running')" active="activeTab['running']">
		<uib-tab-heading>
			<b><i class="glyphicon glyphicon-play"></i> Running <u>Q</u>ueries</b>
		</uib-tab-heading>

		<br>

		<div class="form-inline pull-right">

			<label>AutoReload(<u>T</u>) :
				<input type="checkbox" ng-model="runningAutoLoading" ng-click="toggleAutoReload()">
			</label>

			&nbsp;

			<button class="btn btn-primary" ng-click="loadRunning()">
				<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="isLoading"></i>
				<i class="glyphicon glyphicon-refresh" ng-show="!isLoading"></i> <u>R</u>eload
			</button>

			<span class="alert alert-info">Last Update {{ runningLastUpdate | date:'HH:mm:ss' }}</span>
		</div>

		<uib-tabset type="pills">
			<uib-tab ng-repeat="(dsName, list) in runningMap" select="selectDsTab(dsName)" active="runningDsTab[dsName]">
				<uib-tab-heading>
					{{ dsName }}(<u>{{ $index + 1 }}</u>)
				</uib-tab-heading>

<br>

				<table class="table table-condensed table-bordered">
					<thead class="bg-primary">
						<tr>
							<th class="text-center col-md-1">No.</th>
							<th class="text-center col-md-2">start time</th>
							<th class="text-center col-md-1">elapsed</th>
							<th class="text-center col-md-8">SQL</th>
							<th class="text-center col-md-1" ng-if="dsName == allQueriesTab">dataSource</th>
						</tr>
					<tbody>
					</thead>
						<tr ng-repeat="(idx, elem) in list" ng-class="{ 'bg-danger': elem.error }">
							<td class="text-center">{{ idx + 1 }}</td>
							<td>{{ elem.time | date:'yyyy/MM/dd HH:mm:ss.sss'}}</td>
							<td class="text-center">{{ elem.elapsed | number }} ms</td>
							<td>{{ elem.sql }}</td>
							<td ng-if="dsName == allQueriesTab ">{{ elem.dataSource }}</td>
						</tr>
					</tbody>
				</table>
			</uib-tab>
		 </uib-tabset>
	</uib-tab>

	<uib-tab select="selectTab('setting')"  active="activeTab['setting']">
		<uib-tab-heading>
			<b><i class="glyphicon glyphicon-wrench"></i> <u>S</u>ettings</b>
		</uib-tab-heading>

		<br>

		<div class="row">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="server1:80, server2:80">
				<span class="input-group-btn">
					<button type-"button" class="btn btn-default">save servers</button>
				</span>
			</div>
		</div>

		<hr>

		<div class="form-inline pull-right">
			<button class="btn btn-default input-sm" ng-click="loadSetting()">
				<i class="glyphicon glyphicon-refresh"></i> Load Setting
			</button>
			<button class="btn btn-default input-sm" ng-click="saveSetting()">
				<i class="glyphicon glyphicon-ok"></i> Save Setting
			</button>
		</div>

		<uib-tabset>
			<uib-tab ng-repeat="(dsName, list) in settings" heading="{{ dsName }}">
					<table class="table table-condensed _table-striped table-bordered">
					<thead class="bg-default">
						<tr>
							<th class="text-center col-md-2">Item</th>
							<th class="text-center col-md-10">value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, value) in list">
							<th class="text-right bg-primary">{{ key }}</th>
							<td><input type="text" class="form-control input-sm" name="{{key}}" value="{{value}}"></td>
						</tr>
					</tbody>
				</table>
			</uib-tab>
		 </uib-tabset>

	</uib-tab>

</uib-tabset>

</body>
</html>
